<section class="form-group">
  <article class="cols col7" ng-repeat="r in reviews.slice().reverse()">
    <div class="form-group">
      <header>
        <div class="cols col12"><h1>{{r.date | date}} | </h1></div>
        <div class="cols col12"><h1>{{r.coffeeShop.name}}</h1></div>
        <h2>{{r.reviewer.email}}</h2>
      </header>
      <div class="image" align="center"><img src="{{r.coffeeShop.logo}}" alt="{{r.coffeeShop.name}}"></div>
      <p>{{r.rating}}&#9733; - {{r.comments}}</p>
    </div>
  </article>
</section>
